<div ng-show="directiveInitialized">
    <div ng-show="!!isInEditMode">
        <hr />
        <h4>Adjustment on {{catchAllCard}}</h4>
        <div class="form-group row">
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">+ charge or<br />- discount<br />(in $):</label>
                <input class="form-control pull-left"
                       name="adjustmentAmountCatchAll"
                       ng-model="adjustmentAmountCatchAll"
                       type="number"
                       style="width: 80px;" />
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">Description:</label>
                <input class="form-control pull-left"
                       name="adjustmentDescriptionCatchAll"
                       ng-model="adjustmentDescriptionCatchAll"
                       type="text"
                       style="width: 200px;" />
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label" for="adjustmentForWhatCatchAll">For what?</label>
                <div class="btn-group" id="adjustmentForWhatCatchAll" name="adjustmentForWhatCatchAll">
                    <label class="btn" ng-model="isAdjustmentForParkingCatchAll" ng-value="true" uib-btn-radio="true" id="isAdjustmentForParkingCatchAllYes" name="isAdjustmentForParkingCatchAllYes">Parking</label>
                    <label class="btn left-buffer15" ng-model="isAdjustmentForParkingCatchAll" ng-value="false" uib-btn-radio="false" id="isAdjustmentForParkingCatchAllNo" name="isAdjustmentForParkingCatchAllNo">Service</label>
                </div>
            </div>
            <div class="form-group row" ng-show="!isAdjustmentForParkingCatchAll">
                <label class="form-col-withlabel-label control-label">Service:</label>
                <select class="form-control pull-left" id="serviceForAdjustmentCatchAll" ng-model="selectedServiceTaskCatchAll"
                        data-ng-options="s as s.ServiceName for s in serviceTaskListCatchAll"
                        style="width: 200px;">
                    <option value="">-- Select --</option>
                    <!--<option value="0">All</option>-->
                </select>
            </div>
        </div>

        <h4 ng-show="showCards">Adjustment on {{allowanceCard}}</h4>
        <div class="form-group row" ng-show="showCards">
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">Amount<br />(in $):</label>
                <input class="form-control pull-left"
                       name="adjustmentAmountAllowance"
                       ng-model="adjustmentAmountAllowance"
                       type="number"
                       style="width: 80px;" />
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">Description:</label>
                <input class="form-control pull-left"
                       name="adjustmentDescriptionAllowance"
                       ng-model="adjustmentDescriptionAllowance"
                       type="text"
                       style="width: 200px;" />
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label" for="adjustmentForWhatAllowance">For what?</label>
                <div class="btn-group" id="adjustmentForWhatAllowance" name="adjustmentForWhatAllowance">
                    <label class="btn" ng-model="isAdjustmentForParkingAllowance" ng-value="true" uib-btn-radio="true" id="isAdjustmentForParkingAllowanceYes" name="isAdjustmentForParkingAllowanceYes">Parking</label>
                    <label class="btn left-buffer15" ng-model="isAdjustmentForParkingAllowance" ng-value="false" uib-btn-radio="false" id="isAdjustmentForParkingAllowanceNo" name="isAdjustmentForParkingAllowanceNo">Service</label>
                </div>
            </div>
            <div class="form-group row" ng-show="!isAdjustmentForParkingAllowance">
                <label class="form-col-withlabel-label control-label">Service:</label>
                <select class="form-control pull-left" id="serviceForAdjustmentAllowance" ng-model="selectedServiceTaskListAllowance"
                        data-ng-options="s as s.ServiceName for s in serviceTaskListAllowance"
                        style="width: 200px;">
                    <option value="">-- Select --</option>
                    <!--<option value="0">All</option>-->
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div>
                <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
                <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </div>
</div>