<span>
    <span class="row font-larger" style="height: 38px; margin-top: 8px;">{{order.PaymentDescription}}</span>

    <span class="row">Total Parking: {{order.TotalParking | currency }}</span>
    <div class="form-group row">
        <label class="form-col-withlabel-label control-label">Amount<br /> (in $):</label>
        <input class="form-control pull-left"
               name="refundParking-{{isCatchAllOrder}}"
               ng-model="refundParking"
               type="number"
               style="width: 80px;" />
    </div>

    <span class="row" ng-repeat="(index, lineItem) in order.AdditionalServiceLineItems">
        <span>{{lineItem.Description}}: {{lineItem.LineTotalBeforeTaxAndFee | currency }}</span>
        <div class="form-group row">
            <label class="form-col-withlabel-label control-label">Amount<br /> (in $):</label>
            <input class="form-control pull-left"
                   name="refundservice-{{isCatchAllOrder}}-{{index}}"
                   ng-model="lineItem.LineTotalBeforeTaxAndFee"
                   type="number"
                   style="width: 80px;" />
        </div>
    </span>

    <!--<span class="row">Subtotal: {{originalTotalSummary.TotalPreTax | currency}}</span>-->
    <span class="row">Tax: {{order.OrderTaxOnly | currency}}</span>
    <span class="row">Fee: {{order.OrderFeeOnly | currency}}</span>
    <span class="row">Tip: {{order.OrderTip | currency}}</span>
    <span class="row">Total: {{order.OrderTotalWithTaxAndFee | currency}}</span>

</span>