<div ng-show="directiveInitialized">
    <div ng-show="!!isInEditMode">
        <hr />

        <div class="form-group row">
            <h4>Creating refund</h4>
            <div class="btn-group" ng-show="!!allowanceCard" id="refundWhichCard" name="refundWhichCard">
                <label class="btn" ng-model="isCatchAll" ng-value="true" uib-btn-radio="true" id="isCatchAllYes" name="isCatchAllYes" ng-click="setServices()">{{catchAllCard}}</label>
                <label class="btn left-buffer15" ng-model="isCatchAll" ng-value="false" uib-btn-radio="false" id="isCatchAllNo" name="isCatchAllNo" ng-click="setServices()">{{allowanceCard}}</label>
            </div>
        </div>
        <div class="bottom-buffer15 left-buffer15" ng-show="!!pendingRefunds && pendingRefunds.length> 0">
            <div class="row pull-left" ng-repeat="(index,pRefund) in pendingRefunds">
                <div class="row row--editable">
                    <div class="pull-left top-padding8">
                        <span>{{pRefund.Amount | currency }} + {{pRefund.TaxRate | number }}% + {{pRefund.FeeRate | number }}% {{pRefund.Description}}</span>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-cancel btn-sm" ng-click="onDeleteFromPendingList(index)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>

            <div class="pull-left">
                <button class="btn btn-default font-smaller" ng-click="onClearEditForm()">
                    Add another line item
                </button>
            </div>
        </div>

        <div ng-show="showEditForm">
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label" for="refundForWhat">For what?</label>
                <div class="btn-group" id="refundForWhat" name="refundForWhat">
                    <label class="btn" ng-model="isRefundForParking" ng-value="true" uib-btn-radio="true" id="isRefundForParkingYes" name="isRefundForParkingYes">Parking</label>
                    <label class="btn left-buffer15" ng-model="isRefundForParking" ng-value="false" uib-btn-radio="false" id="isRefundForParkingNo" name="isRefundForParkingNo">Service</label>
                </div>
            </div>
            <div class="form-group row" ng-show="!isRefundForParking">
                <label class="form-col-withlabel-label control-label">Service:</label>
                <select class="form-control" id="serviceForRefundCatchAll" ng-model="selectedServiceTask"
                        data-ng-options="s as s.ServiceName for s in serviceTaskList"
                        style="width: 200px;"
                        ng-change="selectedServiceTaskChanged()">
                    <option value="">-- Select --</option>
                    <!--<option value="0">All</option>-->
                </select>
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">Description:</label>
                <input class="form-control"
                       name="refundDescription"
                       ng-model="refundDescription"
                       type="text"
                       style="width: 420px;" />
            </div>
            <div class="form-group row">
                <label class="form-col-withlabel-label control-label">Amount<br /> (in $):</label>
                <div class="form-inline">
                    <input class="form-control"
                           name="refundAmount"
                           ng-model="refundAmount"
                           type="number"
                           min="0"
                           style="width: 80px;" />

                    <label class="control-label left-buffer15">Tax<br /> (in %):</label>
                    <input class="form-control"
                           name="refundTax"
                           ng-model="refundTaxRate"
                           type="number"
                           min="0"
                           style="width: 80px;" />

                    <label class="control-label left-buffer15">Fee<br /> (in %):</label>
                    <input class="form-control"
                           name="refundFee"
                           ng-model="refundFeeRate"
                           type="number"
                           min="0"
                           style="width: 80px;" />
                </div>
            </div>


            <div class="form-group row">
                <div>
                    <button class="btn btn-primary" ng-enabled="refundAmount > 0" ng-click="onAddToPendingList()">Add as line item</button>
                    <button class="btn btn-cancel" ng-click="onCancelAddToPendingList()">Cancel</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="form-group row" ng-show="!!pendingRefunds && pendingRefunds.length> 0">
            <label class="alert-danger">{{errorMessage}}</label>
            <button class="btn btn-primary--mainaction" ng-click="onProcessRefund()">
                Process Refund
            </button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </div>

        <div class="clearfix"></div>
        <hr />
    </div>
</div>