<div ng-if="debugEnvironment === true">
    <div ng-show="hasEditAccess === true && showArchived === false && employee.IsArchived === false">
        <div class="dropdown">
            <a class="dropdown-toggle top-buffer-relative5 btn btn-warning"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false"
               ng-show="debugEnvironment === true && hasEditAccess === true && employee.IsArchived === false">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <span class="right-buffer15">Valet Login</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><span class="left-buffer-relative5 italic">Preferred Role</span></li>
                <li><a ng-click="valetLoginGreeter()">Greeter</a></li>
                <li><a ng-click="valetLoginEither()">Either</a></li>
                <li><a ng-click="valetLoginRunner()">Runner</a></li>
            </ul>
        </div>
        <button class="top-buffer-relative5 btn btn-warning"
                ng-show="debugEnvironment === true && hasEditAccess === true && showArchived === false && employee.IsArchived === false"
                ng-click="requestShiftEnd()">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            Request Shift End
        </button>
    </div>
</div>
<!--<span class="glyphicon glyphicon-play" aria-hidden="true"></span>-->
<!--ng-click="valetLogin()"-->