<style>
    .zoneOnVP {
        min-height: 105px;
        width: 145px;
        clear: none;
    }
    .zoneRowOnVP {
        clear: both;
    }
    .k-grid.valet-list {
        font-size: 85%;
        padding: 0 !important;
    }

    .k-grid td {
        line-height: 85%;
    }

    .area-separator {
        border-left: none;
        border-top: thin solid #d3d3d3;
        padding-top: 15px;
    }

    @media (min-width: 768px) {
        .area-separator {
            border-left: thin solid #d3d3d3;
            border-top: none;
            padding-top: 0;
        }

        .left-area {
            left: 0;
        }

        .right-area {
            right: 0;
        }
    }

    .k-listview.valet-list {
        border: none !important;
        padding: 0;
    }

    .valet-list {
        min-height: 3.5em;
        text-indent: 0.5em;
    }

    .valet-element.placeable:hover {
        background: #ffd009;
        cursor: move;
    }

    .valet-element.disabled {
        color: lightgrey;
    }

    .click-action.placeable:hover {
        color: darkgrey;
    }

    .click-action.disabled {
        color: lightgrey;
    }

    .dragging {
        background: #ffd009;
        color: white;
        padding: 0px 5px 0px 5px;
    }

    .dropzone-hover {
        background: lightgray;
        cursor: move;
    }
</style>
<div class="container-fluid" style="margin-left: -70px; margin-right: -70px">

    <div class="page-controls-wrapper">
        <operating-location-dropdown operating-location-changed-callback="onChangeOperatingLocation(newOperatingLocation)"></operating-location-dropdown>

        <button class="btn btn-default" ng-click="refreshData()" title="Refresh">
            <span class="glyphicon glyphicon-refresh"></span> <span ng-show="countOfTicketChangesSinceLastRefresh > 0"> {{countOfTicketChangesSinceLastRefresh}}</span>
        </button>

        <div class="btn-wrapper" ng-show="selectedOperatingLocation">
            <button class="btn btn-primary" ng-click="showAllActiveValets = !showAllActiveValets">
                {{(showAllActiveValets) ? 'Show Zones Only' : 'Show All'}}
            </button>

            <button class="btn btn-primary" ng-click="toggleTicketDetails()">
                {{(showTicketDetails) ? 'Hide' : 'Show'}} Ticket Details
            </button>
        </div>

        <div class="date-picker-wrapper" id="dateFilter" ng-show="selectedOperatingLocation">
            <date-from-to from-date-time="filterFromDateTime" to-date-time="filterToDateTime"></date-from-to>
            <button class="btn btn-default" ng-click="applyDateFilter()">Apply Filter</button>
        </div>
    </div>
    <div ng-show="selectedOperatingLocation" style="margin-left: -15px; margin-right: -15px;">
        <div class="left-area col-sm-2 bottom-buffer15" ng-show="showAllActiveValets">
            <h5>Start shift requests</h5>
            <div kendo-list-view
                 id="valetReadyToStartShiftListView"
                 k-data-source="valetReadyToStartShiftListDataSource"
                 class="valet-list">
                <div k-template>
                    <div id="valetReadyToStartShiftListViewItem-{{dataItem.ID}}"
                         class="valet-element pull-left width-full"
                         style="font-size: larger;">
                        <span class="text-nowrap">{{dataItem.ExtendedFriendlyID}}</span>
                        <span ng-if="canPlace"
                              ng-click="startShift(dataItem)"
                              ng-class="{'placeable': placementEnabled && !draggingSomething}"
                              title="Approve Shift Start"
                              class="click-action left-buffer5 glyphicon glyphicon-ok">
                        </span>
                        <span ng-if="canPlace"
                              ng-click="denyStartShift(dataItem)"
                              ng-class="{'placeable': placementEnabled && !draggingSomething}"
                              title="Deny Shift Start"
                              class="click-action left-buffer15 glyphicon glyphicon-remove-sign">
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <h5>End shift requests</h5>
            <div kendo-list-view
                 id="valetReadyToEndShiftListView"
                 k-data-source="valetReadyToEndShiftListDataSource"
                 class="valet-list">
                <div k-template>
                    <div id="valetReadyToEndShiftListViewItem-{{dataItem.ID}}"
                         class="valet-element pull-left width-full"
                         style="font-size: larger;">
                        <span class="text-nowrap">{{dataItem.ExtendedFriendlyID}}</span>
                        <span ng-if="canPlace"
                              ng-click="endShift(dataItem)"
                              ng-class="{'placeable': placementEnabled && !draggingSomething}"
                              title="Approve Shift End"
                              class="click-action left-buffer5 glyphicon glyphicon-ok-sign">
                        </span>
                        <span ng-if="canPlace"
                              ng-click="denyEndShift(dataItem)"
                              ng-class="{'placeable': placementEnabled && !draggingSomething}"
                              title="Deny Shift End"
                              class="click-action left-buffer15 glyphicon glyphicon-remove-sign">
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr />
            <h5>No Assignment</h5>
            <div kendo-list-view
                 id="availableListView"
                 k-data-source="availableListDataSource"
                 class="valet-list">
                <div ng-class="{'draggable': placementEnabled}" k-template>
                    <div id="availableListViewItem-{{dataItem.ID}}"
                         class="valet-element pull-left width-full"
                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                         style="font-size: larger;">
                        <span class="right-buffer5">{{dataItem.ExtendedFriendlyID}}</span>
                        <span style="font-size: 9pt;">
                            {{roleToString(dataItem.PreferredRole)}}
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr />
            <h5>Greeters</h5>
            <div kendo-list-view
                 id="greeterListView"
                 k-data-source="greeterListDataSource"
                 class="valet-list">
                <div ng-class="{'draggable': placementEnabled}" k-template>
                    <div ng-if="canPlace"
                         ng-click="removeGreeterFromAllZones(dataItem)"
                         class="click-action pull-left glyphicon glyphicon-remove"
                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                         title="Unassign from current zones">
                    </div>
                    <div id="greeterListViewItem-{{dataItem.ID}}"
                         class="valet-element width-full"
                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                         style="font-size: larger;">
                        <span class="text-nowrap">{{dataItem.ExtendedFriendlyID}}</span>
                        <span ng-show="!!dataItem.AssignedZones && dataItem.AssignedZones.length > 0"
                              ng-repeat="z in dataItem.AssignedZones">
                            <span class="left-buffer5 text-nowrap" style="font-size: 9pt; border: grey solid 1px">{{z.ZoneCode}}</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr />
            <h5>Runners for Auto assignment</h5>
            <div kendo-list-view
                 id="runnerListView"
                 k-data-source="runnerListDataSource"
                 class="valet-list">
                <div ng-class="{'draggable': placementEnabled}" k-template>
                    <div ng-if="canPlace"
                         ng-click="makeRunnerAvailable(dataItem)"
                         class="click-action pull-left glyphicon glyphicon-remove"
                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                         title="Unassign from runners">
                    </div>
                    <div id="runnerListViewItem-{{dataItem.ID}}"
                         class="valet-element width-full"
                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                         style="font-size: medium;">
                        <span class="right-buffer5">{{dataItem.ExtendedFriendlyID}}</span>
                        <span class="truncate" style="width: 50px;" ng-show="!!dataItem.CurrentRunnerSagaStatus">
                            <a class="link" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.CurrentTicketNumber}}</a> {{ticketUtils.runnerSagaStatusToTitle(dataItem.CurrentRunnerSagaStatus)}}
                            <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="right-area" ng-class="(showAllActiveValets) ? 'area-separator col-sm-10' : 'col-sm-12'">

            <div id="ticketsWithoutZone" ng-show="noZoneDepartureCount > 0 || noZoneReturnCount > 0 || noZoneCapturedCount > 0">
                <div class="col-md-4" ng-show="noZoneDepartureCount > 0">
                    <h6>Departures without zone</h6>
                    <div kendo-list-view id="noZoneDepartureList"
                         k-data-source="noZoneDepartureSource">
                        <div k-template class="small">
                            {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                            <a class="link" title="{{dataItem.FlightSpecifications.AirlineCode}} {{dataItem.FlightSpecifications.FlightNumber}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                            <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                            {{dataItem.CustomerName}}
                        </div>
                    </div>
                </div>

                <div class="col-md-4" ng-show="noZoneReturnCount > 0">
                    <h6>Returns without zone</h6>
                    <div kendo-list-view id="noZoneReturnList"
                         k-data-source="noZoneReturnSource">
                        <div k-template class="small">
                            {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                            <a class="link" title="{{dataItem.FlightSpecifications.AirlineCode}} {{dataItem.FlightSpecifications.FlightNumber}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                            <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                            {{dataItem.CustomerName}}
                            <span class="left-buffer15 glyphicon glyphicon-briefcase" ng-show="dataItem.GiveBackIsCheckingBags" title="Has baggage"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" ng-show="noZoneCapturedCount > 0">
                    <h6>Captured without zone</h6>
                    <div kendo-list-view id="noZoneCapturedList"
                         k-data-source="noZoneCapturedSource">
                        <div k-template class="small">
                            {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                            <a class="link" title="{{dataItem.ZoneCode}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                            <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                            <span class="glyphicon glyphicon-flash" ng-show="dataItem.UseTollTag" title="Toll tag"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-repeat="zoneRow in zones track by $index" ng-init="rowIndex = $index">
                <div class="zoneRowOnVP">
                    <div ng-repeat="zone in zoneRow track by $index" on-finish-render="onFinishRender(rowIndex)" ng-init="columnIndex = $index">

                        <div class="zoneOnVP pull-left" ng-if="!!zone.Code" ng-style="doParseToJson(zone.Style)">

                            <div class="bottom-buffer5" width="100%" style="vertical-align: bottom;">
                                <div class="truncate" style="display: inline-block; width: 80px; vertical-align: bottom; font-size: medium" title="{{zone.Description}}">{{zone.Code}}</div>
                                <div>
                                    <span class="departure departure-text-color right-padding5 left-padding5 right-buffer5" ng-show="departureCounts[rowIndex][columnIndex] > 0" title="Intake">I {{departureCounts[rowIndex][columnIndex]}}</span>
                                    <span class="return return-text-color right-padding5 left-padding5" ng-show="returnCounts[rowIndex][columnIndex] > 0" title="GiveBack">G {{returnCounts[rowIndex][columnIndex]}}</span>
                                    <span class="captured-special captured-special-text-color right-padding5 left-padding5" ng-show="tolltagCounts[rowIndex][columnIndex] > 0" title="Captured: on toll tag">Toll {{tolltagCounts[rowIndex][columnIndex]}}</span>
                                    <span class="captured captured-text-color right-padding5 left-padding5" ng-show="nonTolltagCounts[rowIndex][columnIndex] > 0" title="Captured: on ticket">T {{nonTolltagCounts[rowIndex][columnIndex]}}</span>
                                </div>
                            </div>
                            <div kendo-list-view
                                 id="zoneGreeterList-{{rowIndex}}X{{columnIndex}}"
                                 k-data-source="zoneGreeterListDataSources[{{rowIndex}}][{{columnIndex}}]"
                                 class="valet-list">
                                <div ng-class="{'draggable': placementEnabled}" k-template>
                                    <div ng-if="canPlace"
                                         ng-click="removeGreeterFromZone(dataItem.ID, zone.ID, columnIndex, rowIndex, false)"
                                         class="click-action pull-left glyphicon glyphicon-remove"
                                         ng-class="{'placeable': placementEnabled && !draggingSomething}"
                                         title="Unassign from zone">
                                    </div>
                                    <div id="greeter-{{rowIndex}}X{{columnIndex}}-{{dataItem.ID}}"
                                         class="valet-element width-full"
                                         ng-class="{'placeable': placementEnabled && !draggingSomething}">
                                        <span class="text-nowrap">{{dataItem.ExtendedFriendlyID}}</span>
                                        <span id="timeInPlace-{{rowIndex}}X{{columnIndex}}-{{dataItem.ID}}"
                                              class="left-buffer5 text-nowrap">{{getTimeInPlace(dataItem, columnIndex, rowIndex, zone.ID)}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>


                            <div ng-show="showTicketDetails">
                                <h6 ng-show="departureCounts[rowIndex][columnIndex] > 0">Departures</h6>
                                <div ng-show="departureCounts[rowIndex][columnIndex] > 0" kendo-list-view id="departureList-{{rowIndex}}X{{columnIndex}}"
                                     k-data-source="departureSources[{{rowIndex}}][{{columnIndex}}]">
                                    <div k-template class="small">
                                        {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                                        <a class="link" title="{{dataItem.FlightSpecifications.AirlineCode}} {{dataItem.FlightSpecifications.FlightNumber}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                                        <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                                        {{dataItem.CustomerName}}
                                    </div>
                                </div>

                                <h6 ng-show="returnCounts[rowIndex][columnIndex] > 0">Returns</h6>
                                <div ng-show="returnCounts[rowIndex][columnIndex] > 0" kendo-list-view id="returnList-{{rowIndex}}X{{columnIndex}}"
                                     k-data-source="returnSources[{{rowIndex}}][{{columnIndex}}]">
                                    <div k-template class="small">
                                        {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                                        <a class="link" title="{{dataItem.FlightSpecifications.AirlineCode}} {{dataItem.FlightSpecifications.FlightNumber}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                                        <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                                        {{dataItem.CustomerName}}
                                        <span class="left-buffer15 glyphicon glyphicon-briefcase" ng-show="dataItem.GiveBackIsCheckingBags" title="Has baggage"></span>
                                    </div>
                                </div>

                                <h6 ng-show="capturedCounts[rowIndex][columnIndex] > 0">Captured</h6>
                                <div ng-show="capturedCounts[rowIndex][columnIndex] > 0" kendo-list-view id="capturedList-{{rowIndex}}X{{columnIndex}}"
                                     k-data-source="capturedSources[{{rowIndex}}][{{columnIndex}}]">
                                    <div k-template class="small">
                                        {{dataItem.DateTimeCustomerMeetsValet | date:'h:mma'}}
                                        <a class="link" title="{{dataItem.ZoneCode}} — Click for more details" ng-href="/appStaff/\#/ticket/{{dataItem.TicketNumber}}" target="_self">\#{{dataItem.TicketNumber}}</a>
                                        <span ng-if="!!dataItem.KeyTag" class="text-nowrap">{{dataItem.KeyTag}}<span class="glyphicon glyphicon-pushpin"></span></span>
                                        <span class="glyphicon glyphicon-flash" ng-show="dataItem.UseTollTag" title="Toll tag"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>