<div class="fullrow account-vehicles">
    <kendo-list-view id="listView" class="noborder top-buffer15"
                     k-data-source="dataSource"
                     k-selectable="true"
                     k-on-change="onChange(dataItem)"
                     k-on-save="onSave(kendoEvent)"
                     k-on-edit="onEdit(kendoEvent)"
                     k-on-cancel="onCancel(kendoEvent)">

        <div k-template ng-show="!dataItem.isNew()" class="checkbox" ng-class="{'checkbox--no-checkbox': !(canSelect && !isInEditMode)}">
                <input aria-hidden="true"
                       id="vehicle-{{dataItem.ID}}"
                       name="vehicleSelectionGroup"
                       ng-checked="selectedVehicle.ID === dataItem.ID"
                       ng-value="dataItem.ID"
                       type="radio"
                       ng-click="onClick(dataItem)"/>
                <label class="checkbox_label" for="vehicle-{{dataItem.ID}}">
                    <span class="check-wrapper">
                        <span class="glyphicon check"></span>
                    </span>
                    <span class="checkbox_text-wrapper">
                        <div ng-show="dataItem.Nickname.length > 0" class="checkbox_header">{{dataItem.Nickname}}</div>
                        <div class="checkbox_sub-header">
                            {{dataItem.FriendlyName}}
                        </div>
                    </span>
                </label>
                <div class="checkbox_buttons-wrapper" ng-show="canUpdate && !isInEditMode">
                    <button class="btn btn-primary k-edit-button">
                    <span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-cancel k-delete-button">
                    <span class="glyphicon glyphicon-trash"></span></button>
                </div>
        </div>

        <div k-edit-template>
            <form id="editVehicleForm" name="editVehicleForm" novalidate>
                <h3 ng-show="!dataItem.isNew()">Edit Vehicle</h3>
                <h3 ng-show="dataItem.isNew()">Add Vehicle</h3>

                <div class="top-buffer15 bottom-buffer15">
                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="nickname">Nickname</label>
                        <div class="form-col-withlabel-input">
                            <input type="text"
                                   id="nickname"
                                   name="nickname" data-bind="value:Nickname"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="selectMake">Make</label>
                        <div class="form-col-withlabel-input">

                            <select kendo-drop-down-list id="selectMake" name="selectMake"
                                    required data-required-msg="Make is required"
                                    k-min-length="2"
                                    data-bind="value:Make"
                                    auto-bind="true"
                                    k-data-source="makes"
                                    k-suggest="true"
                                    k-on-data-bound="getModelsForVehicle(dataItem)"
                                    k-on-change="resetVehicleModel(dataItem);"></select> <!--resetVehicleYear(dataItem)-->

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="selectModel">Model</label>
                        <div class="form-col-withlabel-input">

                            <select kendo-combo-box id="selectModel" name="selectModel"
                                    required data-required-msg="Model is required"
                                    k-min-length="2"
                                    data-bind="value:Model"
                                    auto-bind="true"
                                    k-data-source="models"
                                    k-suggest="true"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="selectYear">Year</label>
                        <div class="form-col-withlabel-input">

                            <input type="text"
                                   id="selectYear"
                                   name="selectYear"
                                   required data-required-msg="Year is required"
                                   pattern="^(?:19|20)\\d{2}$" data-pattern-msg="Valid four-digit year is required"
                                   data-bind="value:Year"
                                   class="form-control"/>

                         </div>
                    </div>

                    <div class="form-group row">
                        <defined-list-dropdown list-type="Color" list-label="Color" required selected-defined-list-value="dataItem.Color"></defined-list-dropdown>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="licensePlate">License Plate</label>
                        <div class="form-col-withlabel-input">
                            <input type="text"
                                   id="licensePlate"
                                   name="licensePlate"
                                   required data-required-msg="License Plate is required"
                                   data-bind="value:LicensePlate"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <defined-list-dropdown list-type="State" list-label="License State" required selected-defined-list-value="dataItem.LicenseAgency"></defined-list-dropdown>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="useTollTagButtons">Use TollTag when entering and exiting airport?</label>
                        <div class="btn-group" id="useTollTagButtons" name="useTollTagButtons">
                            <label class="btn" ng-model="dataItem.UseTollTag" ng-value="true" uib-btn-radio="true" id="tollTagYes" name="tollTagYes">Yes</label>
                            <label class="btn" ng-model="dataItem.UseTollTag" ng-value="false" uib-btn-radio="false" id="tollTagNo" name="tollTagNo">No</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="isElectricButtons">Is this vehicle electric?</label>
                        <div class="btn-group" id="isElectricButtons" name="isElectricButtons">
                            <label class="btn" ng-model="dataItem.IsElectric" ng-value="true" uib-btn-radio="true" id="electricYes" name="electricYes">Yes</label>
                            <label class="btn" ng-model="dataItem.IsElectric" ng-value="false" uib-btn-radio="false" id="electricNo" name="electricNo">No</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-col-withlabel-label control-label" for="isOversizedButtons">Is this vehicle oversized?</label>
                        <div class="btn-group" id="isOversizedButtons" name="isOversizedButtons">
                            <label class="btn" ng-model="dataItem.IsOversized" ng-value="true" uib-btn-radio="true" id="oversizedYes" name="oversizedYes">Yes</label>
                            <label class="btn" ng-model="dataItem.IsOversized" ng-value="false" uib-btn-radio="false" id="oversizedNo" name="oversizedNo">No</label>
                        </div>
                    </div>

                    <div class="form-group row top-buffer15">
                        <div class="form-item_no-label">
                            <button class="btn btn-primary k-update-button">Save Vehicle</button>
                            <button class="btn k-cancel-button right-buffer15">Cancel</button>
                        </div>
                    </div>
                </div>

                <hr />

            </form>
        </div>

    </kendo-list-view>
</div>

<div class="form_buttons-wrapper align-left" ng-show="canCreate && !isInEditMode">
    <button type="button" class="btn btn-primary btn-primary--plus" title="Add Vehicle" ng-click="onAdd()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New vehicle</button>
</div>