<div class="login page--navbar-minimal">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-minimal" role="navigation">
        <div class="navbar-image-wrapper">
            <img class="navbar-image" src="/appCommon/theme/images/logo-full.svg"/>
        </div>
    </nav>

    <form name="loginForm" class="login-form clearfix" novalidate ng-submit="loginForm.$valid && vm.login()">
        <div class="panel">

            <h3 class="text-left"> {{vm.formMessages.Title_Login}} </h3>

            <div id="loginFormErrorArea"></div>

            <div id="loginFormEntryArea" ng-show="true" cg-busy="vm.loadingPromise" class="panel-body container-fluid" style="position: relative;">

                <div id="emailRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </span>
                        <input type="email"
                            ng-model="vm.loginCredential.Username"
                            name="emailInput"
                            placeholder="{{vm.formMessages.Placeholder_Email}}"
                            class="form-control"
                            required/>
                    </div>
                    <div class="error-messages" ng-messages="loginForm.emailInput.$error" ng-if="(loginForm.emailInput.$touched && loginForm.emailInput.$dirty) || loginForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Email}}</div>
                        <div ng-message="email">{{vm.formMessages.Format_Email}}</div>
                    </div>
                </div>

                <div id="passwordRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </span>
                        <input type="password" name="passwordInput" ng-minlength="8" required class="form-control" placeholder="{{vm.formMessages.Placeholder_Password}}" autocomplete="off" ng-model="vm.loginCredential.Password"/>
                    </div>
                    <div class="error-messages" ng-messages="loginForm.passwordInput.$error" ng-if="(loginForm.passwordInput.$touched && loginForm.passwordInput.$dirty) || loginForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Password}}</div>
                        <div ng-message="minlength">{{vm.formMessages.Format_Password}}</div>
                    </div>
                </div>

                <div class="login-submit-wrapper">
                    <div>
                        <!--<input type="submit" ng-click="vm.login()" name="loginButton" class="btn btn-primary" style="width: 100px" value="Log In"/>-->
                        <button type="submit" class="btn btn-primary" style="width: 100px">Log In</button>
                    </div>
                    
                    <div class="top-buffer45">
                        <a class="link" href="/#/forgotpassword">{{vm.formMessages.Message_ForgotPassword}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-message">
            <span>
                {{vm.formMessages.Message_NoAccount}}<a class="link" href="/#/signup">{{vm.formMessages.Message_SignUp}}</a>{{vm.formMessages.Message_Instead}}
            </span>
        </div>
    </form>
</div>