<div class="page-controls-wrapper">
    <span ng-hide="onSelectedTicket || onSelectedCustomer">
        <operating-location-dropdown operating-location-changed-callback="onChangeOperatingLocation(newOperatingLocation)"></operating-location-dropdown>
    </span>
    <button ng-show="canCreate && hasEditAccess" class="btn btn-primary" ng-click="openAddIssue()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New Issue
    </button>
</div>

<div class="myGrid" ng-show="selectedOperatingLocationID">
    <kendo-grid options="gridOptions" id="issuesGrid"></kendo-grid>
</div>


<script type="text/ng-template" id="addIssueModalContent">
    <div class="modal-header">
        <button type="button"
            class="close"
            aria-label="Close"
            ng-click="cancelAddIssue()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Issue</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal kendo-form" id="addIssueForm" name="addIssueForm" novalidate>
            <div id="ticketNumberRow" class="form-group">
                <label class="ticket-label" for="referenceNumber">Reference / Ticket #   (click on magnifying glass to search)</label>
                <!-- OLD
                <div class="form-col-withlabel-input make-inline">
                    <input class="form-control right-buffer15" type="text" id="referenceNumber" name="referenceNumber" ng-model="newIssue.ReferenceNumber" />
                    <button class="btn btn-primary btn-sm" ng-click="findReferenceInfo()" ng-disabled="newIssue.ReferenceNumber.length<=0">Find</button>
                </div>
                -->
                <search-results enable-selector="true" reference-selected-callback="onSelectReference(selected)"></search-results>
            </div>

            <div id="nameRow" class="form-group">
                <label class="form-col-withlabel-label" for="customerName">Customer</label>
                <div class="form-col-withlabel-input">
                    <input class="form-control grouped-input grouped-input--first" type="text" id="customerName" name="customerName" required ng-model="newIssue.CustomerName" placeholder="Name" />
                    <div class="error-messages" ng-messages="addIssueForm.customerName.$error" ng-if="addIssueForm.customerName.$touched || addIssueForm.$submitted">
                        <div ng-message="required">Customer Name is Required</div>
                    </div>

                    <input class="form-control grouped-input" type="text" id="mobilePhone" name="mobilePhone" required ng-model="newIssue.MobilePhone" placeholder="Mobile Phone" />
                    <div class="error-messages" ng-messages="addIssueForm.mobilePhone.$error" ng-if="addIssueForm.mobilePhone.$touched || addIssueForm.$submitted">
                        <div ng-message="required">Mobile Phone is Required</div>
                    </div>

                    <input class="form-control grouped-input" type="email" id="emailAddress" name="emailAddress" ng-model="newIssue.EmailAddress" placeholder="Email" />
                </div>
            </div>

            <div id="issueNameRow" class="form-group">
                <label class="form-col-withlabel-label" for="issueName">Issue</label>
                <div class="form-col-withlabel-input">
                    <input class="form-control width-full" type="text" id="issueName" name="issueName" required ng-model="newIssue.Name" />
                </div>
            </div>
            <div class="error-messages" ng-messages="addIssueForm.issueName.$error" ng-if="addIssueForm.issueName.$touched || addIssueForm.$submitted">
                <div ng-message="required">Issue Name is Required</div>
            </div>

            <div id="noteRow" class="form-group">
                <label class="form-col-withlabel-label" for="issueDescription">Description</label>
                <div class="form-col-withlabel-input">
                    <textarea class="form-control width-full" id="issueDescription" name="issueDescription" ng-model="newIssue.Description" rows="5"></textarea>
                </div>
            </div>
            <div id="categoryRow" class="form-group">
                <label class="form-col-withlabel-label" for="categoryList">Category</label>
                <div class="form-col-withlabel-input">
                    <select kendo-combo-box id="categoryList"
                            k-min-length="2"
                            k-ng-model="newIssue.Category"
                            k-filter="'contains'"
                            k-data-source="issueCategoryList"
                            k-auto-bind="true"
                            k-data-text-field="'Description'"
                            k-data-value-field="'Value'"
                            k-value-primitive="true"
                            k-suggest="true"></select>
                </div>
            </div>
            <div id="employeeRow" class="form-group last">
                <label class="form-col-withlabel-label" for="employeeList">Assign to</label>
                <div class="form-col-withlabel-input">
                    <select kendo-combo-box id="employeeList"
                            k-min-length="2"
                            k-ng-model="selectedEmployee"
                            k-filter="'contains'"
                            k-data-source="employeeList"
                            k-auto-bind="true"
                            k-data-text-field="'FriendlyID'"
                            k-data-value-field="'ID'"
                            k-suggest="true"
                            k-option-label="'--None--'"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="addNewIssue()" class="btn btn-primary" ng-disabled="!addIssueForm.$valid">Add Issue</button>
        <button class="btn btn-cancel" title="Cancel" ng-click="cancelAddIssue()" value="Cancel">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="addNewNoteModalContent">
    <div class="modal-header">
        <button type="button"
            class="close"
            aria-label="Close"
            ng-click="cancelNewNote();"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Note</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal kendo-form" id="addNoteForm" name="addNoteForm">
            <div class="form-group">
                <label class="form-col-withlabel-label" for="newNote">Issue</label>
                <div class="form-col-withlabel-input text-only">{{currentIssueName}}</div>
            </div>
            <div id="newNoteRow" class="form-group last">
                <label class="form-col-withlabel-label" for="newNote">Note</label>
                <div class="form-col-withlabel-input">
                    <textarea class="form-control width-full" id="newNote" name="newNote" ng-model="newNote" rows="6" cols="10"></textarea>
                </div>
            </div>
            <div class="error-messages" ng-messages="addNoteForm.newNote.$error" ng-if="addNoteForm.newNote.$touched || addNoteForm.$submitted">
                <div ng-message="required">Required</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="addNewNote();" class="btn btn-primary" ng-disabled="!addNoteForm.$valid">Add Note</button>
        <button class="btn btn-cancel" ng-click="cancelNewNote();">Cancel</button>
    </div>
</script>