<div class="fullrow">
    <h5>Total Points: {{availablePoints}}</h5>
    <h5>Points Redeemed: {{redeemedPoints}}</h5>
    <h5>Points Remaining: {{remainingPoints}}</h5>

    <br />
    <span class="k-loading" ng-show="!rewardsInitialized">Loading rewards ...</span>

    <span class="left-buffer15" style="color: red;" ng-show="rewardsInitialized && availableRewards.length === 0">No rewards available</span>

    <div ng-if="rewardsInitialized">
        <div ng-repeat="reward in availableRewards">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox checkbox--small"
                         ng-class="{ 'checkbox--disabled' : !reward.userSelectedThis && (remainingPoints - reward.Points < 0) }">
                        <input type="checkbox"
                               id="reward-{{reward.ID}}"
                               ng-model="reward.userSelectedThis"
                               ng-click="selectionChanged(reward)">
                        <label class="checkbox_label" for="reward-{{reward.ID}}">
                            <span class="check-wrapper">
                                <span class="glyphicon check"></span>
                            </span>
                            <div class="checkbox_text-wrapper">
                                <div class="checkbox_header">{{reward.Name}} {{reward.Points}} points</div>
                                <div class="checkbox_sub-header">{{reward.Description}}</div>
                            </div>
                        </label>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="form-inline left-buffer15" ng-if="reward.userSelectedThis && enumUtils.getNameForValueRewardAppliesTo(reward.AppliesTo) != 'AdditionalService'">
                        <div class="form-group">
                            <span>Quantity: </span>
                            <input type="number" class="input-sm form-control" ng-model="reward.QuantityReserved" min="1"
                                   ng-change="quantityChanged(reward)" style="width: 70px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" ng-click="resetCartOfRewards()" ng-show="reservedRewards.length > 0" title="Reset cart of rewards">Reset</button>

</div>