<form name="tipForm" class="tip-form">
    <div class="row">
        <label class="form-col-withlabel-label control-label">Tip</label>

        <div class="form-col-withlabel-input">
            <div class="form-group">
                <div class="form-inline">
                    <div class="tip-group" ng-class="{'is-active': tip.IsPercentage === true}">
                        <span class="checkbox">
                            <input type="radio" name="{{orderIdentifier}}" id="percent-of-parking-{{orderIdentifier}}"
                                   ng-model="tip.IsPercentage" ng-value="true"/>
                            <label class="checkbox_label" for="percent-of-parking-{{orderIdentifier}}" ng-click="onChange($event, true)">
                                <span class="check-wrapper">
                                    <span class="glyphicon check"></span>
                                </span>
                                <div class="checkbox_text-wrapper">
                                    <span class="checkbox_header">% of parking charges</span>
                                </div>
                            </label>
                        </span>
                        <div class="input-group tip-input" ng-show="tip.IsPercentage === true">
                            <input class="text-right form-control no-spin"
                                   ng-change="setTip();"
                                   ng-model="tipInput.percentAmount"
                                   type="number"
                                   min="0"
                                   max="100"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-inline">
                    <div class="tip-group" ng-class="{'is-active': tip.IsPercentage === false}">
                        <span class="checkbox">
                            <input type="radio" name="{{orderIdentifier}}" id="fixed-amount-{{orderIdentifier}}"
                                   ng-model="tip.IsPercentage" ng-value="false"/>
                            <label class="checkbox_label" for="fixed-amount-{{orderIdentifier}}" ng-click="onChange($event, false)">
                                <span class="check-wrapper">
                                    <span class="glyphicon check"></span>
                                </span>
                                <div class="checkbox_text-wrapper">
                                    <span class="checkbox_header">Fixed amount</span>
                                </div>
                            </label>
                        </span>
                        <div class="input-group tip-input" ng-show="tip.IsPercentage === false">
                            <span class="input-group-addon">$</span>
                            <input class="text-right form-control no-spin"
                                   ng-change="setTip();"
                                   ng-model="tipInput.fixedAmount"
                                   type="number"
                                   min="0"
                                   max="999.99"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>