<div ng-repeat="(index,service) in reservedServices" id="services" class="split-item-row">
    <div class="split-item-name">
        <span>
            {{service.ServiceName}}
            <span ng-show="service.ServiceFee > 0">{{service.ServiceFee | currency }}</span>
            <span ng-show="service.ProviderCharge > 0">
                <span ng-show="service.ServiceFee > 0"> + </span>
                {{service.ProviderCharge | currency }}
            </span>
        </span>
    </div>
    <div class="split-item-button">
        <button class="btn btn-sm btn-info" ng-click="moveToAnotherOrder(service, index)">Move</button>
    </div>
</div>