<div ng-show="directiveInitialized">
    <div class="page-controls-wrapper">
        <operating-location-dropdown operating-location-changed-callback="onChangeOperatingLocation(newOperatingLocation)"></operating-location-dropdown>

        <div class="btn-wrapper" ng-show="hasViewAccess">
            <div class="btn-group">
                <label class="btn" ng-model="allEmployees" ng-value="true" uib-btn-radio="true" ng-click="clearData()">All Employees</label>
                <label class="btn" ng-model="allEmployees" ng-value="false" uib-btn-radio="false" ng-click="clearData()">Specific Employee</label>
            </div>

            <select class="form-control left-buffer15" id="ol" ng-model="selectedValet" required="required" ng-hide="allEmployees"
                    ng-change="selectedValetChanged()"
                    data-ng-options="v as v.ContactInformation.Name.LastThenFirst for v in valetList | orderBy:'ContactInformation.Name.LastThenFirst'">
                <option value="">-- Select --</option>
            </select>
        </div>

        <div class="btn-wrapper">
            <div class="date-picker-wrapper" id="dateFilter" ng-show="showForLoggedInEmployeeOnly || selectedValet || allEmployees">
                <date-from-to from-date-time="filterFromDateTime" to-date-time="filterToDateTime"></date-from-to>
                <button class="btn btn-default" ng-click="applyDateFilter()">Get Tips</button>
            </div>
        </div>
    </div>

    <div>
        Reservation tips are distributed when reservation closes.<br />
    </div>

    <div class="top-buffer15" ng-show="gotTips">
        <div ng-show="!tips.length">No tips</div>
        <table class="table-bordered" ng-repeat="tip in tips">
            <tr>
                <td width="200px" ng-hide="allEmployees">{{tip.DateTicketWasCharged | date: 'medium' }}</td>
                <td width="200px">{{tip.ForGreeterName}}</td>
                <td width="150px">
                    <span ng-hide="tip.IsPercentage">$</span>{{tip.Amount}}<span ng-show="tip.IsPercentage">%</span>
                </td>
                <td width="150px">
                    <span ng-hide="allEmployees">
                        #{{tip.TicketNumber}}
                    </span>
                    <span ng-show="allEmployees">
                        <a class="link" ng-hide="allEmployees" ng-href="/appStaff/#/ticket/{{tip.TicketNumber}}" target="_self">#{{tip.TicketNumber}}</a>
                    </span>
                </td>
            </tr>
        </table>

        <div class="top-buffer15" ng-show="allEmployees">
            <div ng-hide="showTipsDetails">
                <button class="btn btn-default" ng-click="getTipDetails()">Show Details</button>
            </div>

            <div class="top-buffer15" ng-show="showTipsDetails">
                <div ng-hide="!tipsDetails.length">Details</div>
                <table class="table" ng-repeat="detail in tipsDetails">
                    <tr>
                        <td width="200px">{{detail.DateTicketWasCharged | date: 'medium' }}</td>
                        <td width="200px">{{detail.ForGreeterName}}</td>
                        <td width="150px">
                            <span ng-hide="detail.IsPercentage">$</span>{{detail.Amount}}<span ng-show="detail.IsPercentage">%</span>
                        </td>
                        <td width="150px">
                            <a class="link" ng-href="/appStaff/#/ticket/{{detail.TicketNumber}}" target="_self">#{{detail.TicketNumber}}</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>