<div class="container-fluid" ng-controller="BillingDocumentController as vm">
    <div class="page-controls-wrapper">
        <a class="btn link" ng-click="vm.goBack()">Back</a>
    </div>

    <div ng-hide="vm.isBillingDocumentGenerated">
        <div class="loader">Loading...</div>
    </div>

    <div class="top-buffer30" ng-show="vm.isBillingDocumentGenerated">
        <button class="btn btn-primary" ng-click="vm.printReport()"><span class="glyphicon glyphicon-print"></span> Print</button>
    </div>

    <div ng-show="vm.isBillingDocumentGenerated" id="billingDocumentReport">
        <!--Document rendered here-->
    </div>


    <p>
        DFW Fee Explanation:
        The DFW Airport Board levies a 13.64% fee on every transaction as a privilege fee for operating at DFW Airport.
        If you have any questions regarding our service, you can always check out our FAQs online. And remember, you can
        view, print or edit your reservation, and manage your reward points anytime via your login at theairportvalet.valeta.com.

        Thanks again for choosing The Airport Valet by Valeta.
    </p>
</div>