<span ng-show="directiveInitialized" class="row row--editable">
    <label class="form-col-withlabel-label" ng-class="{'no-top-padding': !isInEditMode}">CC Emails</label>
    <span ng-show="!isInEditMode" class="form-col-withlabel-input">
        <span>{{textData}}</span>
        <button ng-show="canUpdate" class="btn btn-primary btn-icon-only btn--edit" ng-click="onEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </span>
    <span ng-show="!!isInEditMode" ng-form="ccEmailsForm" class="form-col-withlabel-input">
        <input class="form-control" type="text" id="ccEmailsInput" name="ccEmailsInput"
               ng-model="textData"
               ng-pattern="/^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$/" />
        <span class="error-messages" ng-messages="ccEmailsForm.ccEmailsInput.$error" ng-if="ccEmailsForm.ccEmailsInput.$touched">
            <span ng-message="pattern">{{formMessages.Placeholder_CCEmails}}</span>
        </span>
        <div class="form_single-input-buttons">
            <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </div>
    </span>
</span>
