<span ng-show="directiveInitialized" class="row row--editable">
    <label class="form-col-withlabel-label" ng-class="{'no-top-padding': !isInEditMode}"># People Returning</label>
    <span ng-show="!isInEditMode" class="form-col-withlabel-input">
        <span class="right-buffer15">{{(infoModel)}}</span>
        <button ng-show="canUpdate" class="btn btn-primary btn-icon-only btn--edit" ng-click="onEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </span>
    <span ng-show="!!isInEditMode" ng-form="numberOfPeopleReturningForm" class="form-col-withlabel-input">
        <input class="form-control" type="number" required id="numberOfPeopleReturningInput" name="numberOfPeopleReturningInput"
               ng-model="infoModel"
               min="1"
               max="19"/>
        <span class="error-messages" ng-messages="numberOfPeopleReturningForm.numberOfPeopleReturningInput.$error" ng-if="numberOfPeopleReturningForm.numberOfPeopleReturningInput.$touched">
            <span ng-message="required">{{formMessages.Required_NumberOfPeopleReturning}}</span>
            <span ng-message="min">{{formMessages.Format_NumberOfPeopleReturning}}</span>
        </span>
        <div class="form_single-input-buttons">
            <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </div>
    </span>
</span>