<span ng-show="directiveInitialized" class="row row--editable">
    <label class="form-col-withlabel-label" ng-class="{'no-top-padding': !isInEditMode}">Payment <span ng-show="!isCatchAllOrder"><br />second card</span></label>
    <span ng-show="!isInEditMode" class="form-col-withlabel-input">
        <span ng-show="isTicketActive">            
            <span>{{selectedPaymentMethod.FriendlyName}}</span>
            <span ng-show="!selectedPaymentMethod.IsAuthorized"> is NOT authorized</span>
            <span ng-show="selectedPaymentMethod.IsAuthorized"> is authorized</span>
        </span>

        <button ng-show="canUpdate && !savingInProgress" class="btn btn-primary btn-icon-only btn--edit pull-right" ng-click="onEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </span>

    <span ng-show="!!isInEditMode" class="form-col-withlabel-input">
        <select class="form-control" name="payments-{{isCatchAllOrder}}" id="payments-{{isCatchAllOrder}}" ng-model="selectedPaymentMethod"
                data-ng-options="p as p.FriendlyName for p in paymentMethodList">
            <option value="">-- Select Credit Card --</option>
        </select>
        <div class="form_single-input-buttons">
            <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </div>
    </span>
</span>