<div class="container-fluid ticket-details" ng-controller="StaffSingleTicketController as vm">

    <div ng-if="!!vm.ticket.ID" cg-busy="vm.loadingPromise">
        <div>
            <div class="pull-left">
                <h3>
                    #{{vm.ticket.TicketNumber}}
                    <span ng-show="vm.ticket.HasProblems" class="left-buffer15 alert alert-danger">Has Problems</span>
                    <span ng-show="vm.ticket.NeedsManagerAttention" class="left-buffer15 alert alert-danger">
                        Needs Manager Attention
                        <button class="btn btn-default left-buffer5" ng-click="vm.removeManagerAttention()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <span class="font-smaller"><br />{{vm.ticket.ReasonForManagerAttention}}</span>
                    </span>
                </h3>
            </div>
            <div class="pull-right">
                <span id="buttonRow" class="btn-inline" ng-show="vm.isTicketActive && !vm.pageWillReload">
                    <button class="btn btn-primary" ng-show="vm.isReturn && vm.isTicketActive" ng-click="vm.setAtBase(vm.ticket)">
                        Set At Base
                    </button>

                    <button class="btn btn-primary" ng-show="vm.isDeparture" ng-click="vm.dispatchRequestReturnProcess(vm.ticket)">
                        Give Back to customer
                    </button>
                    <span class="glyphicon glyphicon-question-sign" ng-show="vm.isDeparture" title="After clicking this button, you need to manually assign the zone"></span>
                    <button class="btn btn-primary" ng-show="vm.isDeparture" ng-click="vm.setCreated(vm.ticket)">
                        Set Created
                    </button>

                    <button class="btn btn-primary right-buffer15 left-buffer15" ng-show="vm.isDeparture" ng-click="vm.notifyCustomerOfIntakeZone()">
                        Notify customer of intake zone change
                    </button>
                    <button class="btn btn-primary right-buffer15 left-buffer15" ng-show="vm.isReturn" ng-click="vm.notifyCustomerOfGiveBackZone()">
                        Notify customer of give back zone change
                    </button>

                    <button class="btn btn-primary" ng-hide="vm.ticket.NeedsManagerAttention" ng-click="vm.needsManagerAttention()">
                        Needs manager attention
                    </button>

                    <button class="btn btn-primary" ng-click="vm.markNoShow()">
                        Mark No Show
                    </button>
                </span>
                <span id="buttonRowShowAlwaysExceptWhenClosed" class="btn-inline" ng-show="vm.hasEditAccess && !vm.isTicketCancelled && vm.isTicketActive">
                    <button class="btn btn-primary" ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="clearfix"></div>

        <div kendo-tab-strip k-content-urls="[null, null, null, null, null, null]">
            <ul>
                <li class="k-state-active">Details</li>
                <li>Billing</li>
                <li>Services</li>
                <li>Communication</li>
                <li>Events</li>
                <li>Issues</li>
            </ul>

            <div class="tab-content" id="details-tab">

                <span class="row row--highlight">
                    <label class="form-col-withlabel-label">Ticket Status</label>
                    <span class="form-col-withlabel-input">
                        <span class="inline-descr">
                            {{vm.ticketUtils.ticketStatusToTitle(vm.ticket.TicketStatus)}}
                        </span>
                        <span ng-show="vm.isTicketCannotClose">
                            <br />
                            Review ticket and notes. <br />
                            Clear <span class="italic">Needs manager attention</span> alert, if any. <br />
                            Go to Billing and click Complete.
                        </span>

                        <label class="alert alert-warning" ng-show="vm.pageWillReload === true">Page will reload when current action is completed</label>
                    </span>
                </span>

                <span class="row row--highlight">
                    <label class="form-col-withlabel-label no-top-padding">Customer</label>
                    <span class="form-col-withlabel-input">
                        <a class="link" ng-href="/appStaff/#/account-profile/{{vm.ticket.Customer.AccountID}}" target="_self">{{vm.ticket.Customer.Name.FriendlyName}}</a>
                    </span>
                </span>

                <mobile-phone-update can-update
                                     identifier="vm.ticket.ID"
                                     context="vm.currentCommunicationContext"
                                     text-data="vm.ticket.Customer.MobilePhone.Number"
                                     customer-name="vm.ticket.Customer.Name.FriendlyName"
                                     can-contact="true">
                </mobile-phone-update>

                <vehicle-info can-update is-ticket-active="vm.isTicketActive"
                              ticket-identifier="vm.ticket.ID"
                              vehicle="vm.ticket.Vehicle"
                              account-identifier="vm.ticket.Customer.AccountID">
                </vehicle-info>

                <use-toll-tag-info can-update is-ticket-active="vm.isTicketActive"
                                   ticket-identifier="vm.ticket.ID"
                                   use-toll-tag="vm.ticket.Vehicle.UseTollTag">
                </use-toll-tag-info>


                <account-note account-identifier="vm.ticket.Customer.AccountID">
                </account-note>

                <reservation-note-update can-update is-ticket-active="vm.isTicketActive"
                                         ticket-identifier="vm.ticket.ID"
                                         text-data="vm.ticket.ReservationNote">
                </reservation-note-update>

                <office-note-update can-update
                                    ticket-identifier="vm.ticket.ID"
                                    text-data="vm.ticket.OfficeNote"
                                    alert-flag="vm.ticket.HasProblems">
                </office-note-update>

                <note-to-customer-update can-update
                                         ticket-identifier="vm.ticket.ID"
                                         text-data="vm.ticket.NoteToCustomer">
                </note-to-customer-update>

                <!--future?<span class="row">
        <span class="col-sm-3">Dispatcher Working Note</span>
        <span class="col-sm-6">{{vm.ticket.DispatcherWorkingNote}}</span>
    </span>-->
                <div class="clearfix"></div>

                <hr />

                <valet-saga-update can-update is-ticket-active="vm.isTicketActive"
                                   allow-edit="vm.ticket.ShowAssignGreeter"
                                   ticket-identifier="vm.ticket.ID"
                                   operating-location-identifier="vm.ticket.OperatingLocationID"
                                   valet-saga-type="'greeter'"
                                   valet-saga-employee-identifier="vm.ticket.GreeterSagaEmployeeID"
                                   valet-saga-employee-friendly-identifier="vm.ticket.GreeterSagaEmployeeFriendlyID"
                                   valet-saga-status="vm.ticket.GreeterSagaStatus">
                </valet-saga-update>

                <valet-transfer-custody can-update is-ticket-active="vm.isTicketActive"
                                        allow-edit="vm.ticket.ShowAssignGreeter"
                                        ticket-identifier="vm.ticket.ID"
                                        operating-location-identifier="vm.ticket.OperatingLocationID"
                                        valet-saga-type="'greeter'"
                                        valet-saga-employee-identifier="vm.ticket.GreeterSagaEmployeeID"
                                        valet-saga-employee-friendly-identifier="vm.ticket.GreeterSagaEmployeeFriendlyID"
                                        valet-saga-status="vm.ticket.GreeterSagaStatus">
                </valet-transfer-custody>

                <valet-saga-update can-update is-ticket-active="vm.isTicketActive"
                                   allow-edit="vm.ticket.ShowAssignRunner"
                                   ticket-identifier="vm.ticket.ID"
                                   operating-location-identifier="vm.ticket.OperatingLocationID"
                                   valet-saga-type="'runner'"
                                   valet-saga-employee-identifier="vm.ticket.RunnerSagaEmployeeID"
                                   valet-saga-employee-friendly-identifier="vm.ticket.RunnerSagaEmployeeFriendlyID"
                                   valet-saga-status="vm.ticket.RunnerSagaStatus">
                </valet-saga-update>

                <span class="row row--highlight">
                    <label class="form-col-withlabel-label no-top-padding">Stage Location</label>
                    <span class="form-col-withlabel-input">{{vm.ticket.StageLocation}}</span>
                </span>

                <slot-update can-update is-ticket-active="vm.isTicketActive"
                             ticket-identifier="vm.ticket.ID"
                             ticket-number="vm.ticket.TicketNumber"
                             text-data="vm.ticket.SlotCode"></slot-update>
                
                <key-tag-update can-update is-ticket-active="vm.isTicketActive"
                                ticket-identifier="vm.ticket.ID"
                                text-data="vm.ticket.KeyTag">


                </key-tag-update>

                <!--apparently this is the same thing as slot-->
                <!--<key-location-update can-update ticket-status="vm.ticket.TicketStatus"
    ticket-identifier="vm.ticket.ID"
    ticket-number="vm.ticket.TicketNumber"
    text-data="vm.ticket.KeysLocation"></key-location-update>-->

                <div class="clearfix"></div>
                <hr />
                <div class="row row--highlight">
                    <extended-flight-data can-update reload-on-save is-ticket-active="vm.isTicketActive"
                                          ticket-identifier="vm.ticket.ID"
                                          flight-specifications="vm.ticket.ActiveAirportMeet.IntakeSpecifications"
                                          flight-schedule="vm.ticket.ActiveAirportMeet.IntakeSchedule"
                                          flight-status="vm.ticket.ActiveAirportMeet.IntakeStatus"
                                          notify-billing-summary="vm.notifyBillingSummary"
                                          is-accessed-by-office="true">
                    </extended-flight-data>
                </div>

                <intake-offset-update can-update is-ticket-active="vm.isTicketActive"
                                      ticket-identifier="vm.ticket.ID"
                                      number-data="vm.ticket.ActiveAirportMeet.IntakeOffsetFromScheduledDateTimeInMinutes">
                </intake-offset-update>

                <meet-date-time-update is-ticket-active="vm.isTicketActive"
                                       travel-direction="vm.travelFromCustomer"
                                       ticket-identifier="vm.ticket.ID"
                                       date-time-data="vm.ticket.ActiveAirportMeet.IntakeDateTimeCustomerMeetsValet"
                                       warning-message="vm.ticket.ActiveAirportMeet.IntakeMeetTimeWarningMessage">
                </meet-date-time-update>

                <meet-location-update-office can-update is-ticket-active="vm.isTicketActive"
                                             travel-direction="vm.travelFromCustomer"
                                             ticket-identifier="vm.ticket.ID"
                                             text-data="vm.ticket.ActiveAirportMeet.IntakeRelativeMeetLocation">
                </meet-location-update-office>

                <zone-update can-update ticket-status="vm.ticket.TicketStatus"
                             ticket-identifier="vm.ticket.ID"
                             operating-location-identifier="vm.ticket.OperatingLocationID"
                             zone-identifier="vm.ticket.IntakeZoneID"
                             zone-warning-message="vm.ticket.IntakeZoneWarningMessage"
                             flight-direction="vm.ticket.ActiveAirportMeet.IntakeSpecifications.FlightDirection">
                </zone-update>

                <span class="row row--highlight">
                    <label class="form-col-withlabel-label no-top-padding">Vehicle Captured</label>
                    <span class="form-col-withlabel-input">
                        {{vm.ticket.DateCaptured | date: 'short' }}
                    </span>
                </span>

                <div class="clearfix"></div>
                <hr />

                <div class="row row--highlight">
                    <extended-flight-data can-update reload-on-save is-ticket-active="vm.isTicketActive"
                                          ticket-identifier="vm.ticket.ID"
                                          flight-specifications="vm.ticket.ActiveAirportMeet.GiveBackSpecifications"
                                          flight-schedule="vm.ticket.ActiveAirportMeet.GiveBackSchedule"
                                          flight-status="vm.ticket.ActiveAirportMeet.GiveBackStatus"
                                          return-is-checking-bags="vm.ticket.ActiveAirportMeet.GiveBackIsCheckingBags"
                                          notify-billing-summary="vm.notifyBillingSummary"
                                          is-accessed-by-office="true">
                    </extended-flight-data>
                </div>

                <div class="clearfix"></div>

                <!--todo: can-update-->
                <meet-date-time-update is-ticket-active="vm.isTicketActive"
                                       travel-direction="vm.travelToCustomer"
                                       ticket-identifier="vm.ticket.ID"
                                       date-time-data="vm.ticket.ActiveAirportMeet.GiveBackDateTimeCustomerMeetsValet"
                                       warning-message="vm.ticket.ActiveAirportMeet.GiveBackMeetTimeWarningMessage">
                </meet-date-time-update>

                <div class="clearfix"></div>
                <div class="row row--highlight">
                    <defined-list-dropdown view-only
                                           list-label="Return Meet Location"
                                           list-type="MeetLocationGiveBack"
                                           selected-defined-list-value="vm.ticket.ActiveAirportMeet.GiveBackRelativeMeetLocation">
                    </defined-list-dropdown>
                </div>

                <return-is-checking-bags-info can-update is-ticket-active="vm.isTicketActive"
                                              ticket-identifier="vm.ticket.ID"
                                              info-model="vm.ticket.ActiveAirportMeet.GiveBackIsCheckingBags">
                </return-is-checking-bags-info>

                <zone-update can-update ticket-status="vm.ticket.TicketStatus"
                             ticket-identifier="vm.ticket.ID"
                             operating-location-identifier="vm.ticket.OperatingLocationID"
                             zone-identifier="vm.ticket.GiveBackZoneID"
                             zone-warning-message="vm.ticket.GiveBackZoneWarningMessage"
                             flight-direction="vm.ticket.ActiveAirportMeet.GiveBackSpecifications.FlightDirection">
                </zone-update>

                <airport-meet-validation departure-specifications="vm.ticket.ActiveAirportMeet.IntakeSpecifications"
                                         departure-schedule="vm.ticket.ActiveAirportMeet.IntakeSchedule"
                                         return-specifications="vm.ticket.ActiveAirportMeet.GiveBackSpecifications"
                                         return-schedule="vm.ticket.ActiveAirportMeet.GiveBackSchedule"></airport-meet-validation>

                <number-of-people-returning-info can-update is-ticket-active="vm.isTicketActive"
                                                 ticket-identifier="vm.ticket.ID"
                                                 info-model="vm.ticket.NumberOfPeopleReturning">
                </number-of-people-returning-info>



                <div class="clearfix"></div>
                <hr />

                <email-address-update can-update
                                      ticket-identifier="vm.ticket.ID"
                                      text-data="vm.ticket.Customer.Email.EmailAddress"
                                      can-contact="true">
                </email-address-update>

                <cc-emails-update can-update
                                  ticket-identifier="vm.ticket.ID"
                                  text-data="vm.ticket.CCEmails">
                </cc-emails-update>

                <div class="row row--highlight">
                    <label class="form-col-withlabel-label">Operating Location</label>
                    <span class="form-col-withlabel-input">
                        <get-operating-location-data operating-location-identifier="vm.ticket.OperatingLocationID" operating-location-object="vm.operatingLocation"></get-operating-location-data>
                        <span>{{vm.operatingLocation.Name}}</span>
                    </span>
                </div>

                <div class="row row--highlight">Ticket ID: {{vm.ticket.ID}}</div>

            </div>
            <div class="tab-content" id="billing-tab">
                <div id="billingErrorMessageArea">
                    <div class="bottom-buffer5" ng-show="vm.hasUncompletedServices && !vm.isTicketClosed">
                        <div class="alert-danger">This ticket has uncompleted service tasks.</div>
                    </div>
                </div>
                <div>
                    Ticket is {{vm.ticketUtils.ticketStatusToTitle(vm.ticket.TicketStatus)}}
                </div>
                <div class="top-buffer15" ng-show="vm.isTicketClosing && !!vm.billing.ReservationCatchAllOrder.FailedPaymentErrorCode">
                    <span class="alert-danger">FAILED TO CHARGE: {{vm.billing.ReservationCatchAllOrder.FailedPaymentErrorCode}}: {{vm.billing.ReservationCatchAllOrder.FailedPaymentErrorDescription}}</span>
                </div>
                <div class="top-buffer15" ng-show="vm.isTicketClosing && !!vm.billing.ReservationAllowanceOrder.FailedPaymentErrorCode">
                    <span class="alert-danger">FAILED TO CHARGE: {{vm.billing.ReservationAllowanceOrder.FailedPaymentErrorCode}}: {{vm.billing.ReservationAllowanceOrder.FailedPaymentErrorDescription}}</span>
                </div>
                <div class="row" id="billingButtons">
                    <div class="col-md-10">
                        <span id="buttonRowActive" class="btn-inline top-buffer15" ng-show="(vm.isTicketCannotClose || vm.isTicketActive) && !vm.pageWillReload">
                            <button class="btn btn-primary right-buffer15" ng-show="vm.isTicketOutgoing" ng-click="vm.completeTicket()"
                                    ng-disabled="vm.billing.ReservationCatchAllOrder.PaymentMethodID === null || (vm.hasUncompletedServices && (!vm.uncompleteServiceTaskExplanation || vm.uncompleteServiceTaskExplanation.length < 10))">
                                Complete
                            </button>
                            <button class="btn btn-primary right-buffer15" ng-click="showAddTip = true">
                                Add Tip
                            </button>
                            <button class="btn btn-primary right-buffer15" ng-click="showAddPromotion = true"
                                    ng-show="vm.billing.ReservedPromotionDiscounts.length===0">
                                Add Promotion
                            </button>
                            <!--<button class="btn btn-primary right-buffer15" ng-click="showAddReward = true">
                    Add Reward
                </button>-->
                            <button class="btn btn-primary right-buffer15" ng-click="showAddAdjustment = true">
                                Add Adjustment
                            </button>
                        </span>
                        <span id="buttonRowClosed" ng-show="!vm.pageWillReload">
                            <button ng-show="vm.isTicketClosing && !!vm.billing.ReservationCatchAllOrder.FailedPaymentErrorCode"
                                    class="btn btn-primary right-buffer15"
                                    ng-click="vm.chargeTicket()">
                                Charge
                            </button>
                            <button ng-show="vm.isTicketClosed" class="btn btn-primary right-buffer15" ng-click="showAddRefund = true">
                                Add Refund
                            </button>
                            <!--<button class="btn btn-primary right-buffer15" ng-click="showAddTip = true">
                    Add Tip Adjustment
                </button>-->
                        </span>

                        <button class="btn btn-primary right-buffer15" ng-click="vm.regenerate()">
                            Regenerate Billing
                        </button>
                        <div id="billingAddForms" class="top-buffer15 bottom-buffer30">
                            <add-tip is-in-edit-mode="showAddTip" can-update ticket-identifier="vm.ticket.ID" ticket-status="vm.ticket.TicketStatus"
                                     catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                     allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"></add-tip>

                            <add-promotion is-in-edit-mode="showAddPromotion" can-update
                                           ticket-identifier="vm.ticket.ID"
                                           ticket-status="vm.ticket.TicketStatus"
                                           ticket-number="vm.ticket.TicketNumber"></add-promotion>

                            <!--<add-reward is-in-edit-mode="showAddReward" can-update
                    ticket-identifier="vm.ticket.ID"
                    ticket-status="vm.ticket.TicketStatus"
                    ticket-number="vm.ticket.TicketNumber"></add-reward>-->

                            <add-adjustment is-in-edit-mode="showAddAdjustment" can-update ticket-identifier="vm.ticket.ID" ticket-number="vm.ticket.TicketNumber" ticket-status="vm.ticket.TicketStatus"
                                            catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                            allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"
                                            billing="vm.billing"></add-adjustment>

                            <add-refund is-in-edit-mode="showAddRefund" can-update ticket-identifier="vm.ticket.ID" ticket-number="vm.ticket.TicketNumber" ticket-status="vm.ticket.TicketStatus"
                                        catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                        allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"
                                        billing="vm.billing"></add-refund>

                            <div ng-show="vm.hasUncompletedServices && (vm.isTicketCannotClose || vm.isTicketActive) && !showAddAdjustment && !showAddTip && !showAddPromotion">
                                <label for="uncompleteServiceTaskExplanation">Explain why services were not completed</label>
                                <div>
                                    <textarea rows="3" style="width: 80%" id="uncompleteServiceTaskExplanation" ng-model="vm.uncompleteServiceTaskExplanation"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="billingSummaries" style="margin-bottom: 20px; display: inline-block">
                    <div class="form-row bottom-buffer30">
                        <div class="col-md-5">
                            <billing-summary ticket-identifier="vm.ticket.ID"
                                             ticket-status="vm.ticket.TicketStatus"
                                             notify-billing-summary="vm.notifyBillingSummary"></billing-summary>
                        </div>
                        <div class="col-md-5">
                            <original-summary ticket-number="vm.ticket.TicketNumber"></original-summary>
                        </div>
                    </div>
                </div>

                <div id="billingPaymentInfo">
                    <div ng-hide="vm.isTicketClosed">
                        <a class="link" ui-sref="account-paymentmethods({ customerIdentifier: '{{vm.ticket.Customer.AccountID}}'})">Manage Credit Cards</a>
                    </div>
                    <div ng-hide="vm.isTicketClosed">
                        <payment-method-update can-update
                                               ticket-identifier="vm.billing.ID"
                                               is-ticket-active="!vm.isTicketClosed && !vm.isTicketCancelled"
                                               account-identifier="vm.ticket.Customer.AccountID"
                                               selected-payment-method-identifier="vm.billing.ReservationCatchAllOrder.PaymentMethodID"
                                               is-catch-all-order="true" />
                    </div>
                    <div>
                        <!--<cost-breakdown
            ticket-identifier="vm.billing.ID"
            is-ticket-closed="vm.isTicketClosed"
            ticket-status="vm.ticket.TicketStatus"
            is-catch-all-order="true" />-->
                    </div>
                    <div ng-show="vm.isTicketClosed && vm.billing.ReservationCatchAllOrder.IsPaymentCharged">
                        Transaction ID #{{vm.billing.ReservationCatchAllOrder.PaymentTransactionId}}: {{vm.billing.ReservationCatchAllOrder.ChargedAmount | currency}}
                        charged to {{vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName}}
                        on {{vm.billing.ReservationCatchAllOrder.DateCharged | date: 'medium'}}
                    </div>
                    <div ng-hide="vm.isTicketClosed">
                        <payment-method-update can-update
                                               ticket-identifier="vm.billing.ID"
                                               is-ticket-active="!vm.isTicketClosed && !vm.isTicketCancelled"
                                               account-identifier="vm.ticket.Customer.AccountID"
                                               selected-payment-method-identifier="vm.billing.ReservationAllowanceOrder.PaymentMethodID"
                                               is-catch-all-order="false" />
                    </div>
                    <div ng-show="vm.isTicketClosed && !!vm.billing.ReservationAllowanceOrder && vm.billing.ReservationAllowanceOrder.IsPaymentCharged">
                        Transaction ID #{{vm.billing.ReservationAllowanceOrder.PaymentTransactionId}}: {{vm.billing.ReservationAllowanceOrder.ChargedAmount | currency}}
                        charged to {{vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName}}
                        on {{vm.billing.ReservationAllowanceOrder.DateCharged | date: "medium"}}
                    </div>
                </div>
                <div class="top-buffer15" id="billingAddons">
                    <div class="col-md-6">
                        <tip-list can-update ticket-identifier="vm.ticket.ID"
                                  is-ticket-active="!vm.isTicketClosed && !vm.isTicketCancelled"
                                  catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                  allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"
                                  billing="vm.billing"></tip-list>
                    </div>
                    <div class="col-md-6">
                        <adjustment-list can-update ticket-identifier="vm.ticket.ID" ticket-status="vm.ticket.TicketStatus"
                                         catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                         allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"
                                         billing="vm.billing"></adjustment-list>
                    </div>
                    <div class="col-md-6">
                        <reward-list can-update ticket-identifier="vm.ticket.ID"
                                     is-ticket-active="!vm.isTicketClosed && !vm.isTicketCancelled"
                                     rewards="vm.billing.CartOfRewards"></reward-list>
                    </div>
                    <div>
                        <sales-tax-exempt-update can-update
                                                 ticket-identifier="vm.ticket.ID"
                                                 is-ticket-active="!vm.isTicketClosed && !vm.isTicketCancelled"
                                                 info-model="vm.billing.IsSalesTaxExempt"></sales-tax-exempt-update>
                    </div>
                </div>

                <div class="top-buffer15 col-md-12" ng-show="vm.isTicketClosed">
                    <refund-list ticket-identifier="vm.ticket.ID" ticket-number="vm.ticket.TicketNumber" ticket-status="vm.ticket.TicketStatus"
                                 catch-all-card="vm.billing.ReservationCatchAllOrder.PaymentMethodFriendlyName"
                                 allowance-card="vm.billing.ReservationAllowanceOrder.PaymentMethodFriendlyName"
                                 billing="vm.billing"></refund-list>
                </div>

                <div class="clearfix"></div>
                <div id="billingEvents">
                    <button class="btn btn-primary right-buffer15" ng-click="vm.viewBillingEvents()">
                        View Events
                    </button>
                    <div class="events">
                        <div class="events-event" ng-repeat="currentBillingEvent in vm.currentBillingEvents">
                            <div class="events-circle">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            <!--<button class="btn btn-sm pull-right" ng-click="vm.toggleInfo($index)" style="margin-left: 3%;">
                <i class="glyphicon glyphicon-minus" ng-if="currentBillingEvent.display == true"></i>
                <i class="glyphicon glyphicon-plus" ng-if="currentBillingEvent.display == false"></i>
            </button>-->
                            <div ng-bind-html="currentBillingEvent.content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="services-tab">
                <service-task-fulfillment can-update can-delete can-create show-deleted show-completed
                                          selected-ticket-status="vm.ticket.TicketStatus"
                                          selected-ticket="vm.ticket"
                                          notify-billing-summary="vm.notifyBillingSummary"></service-task-fulfillment>
            </div>
            <div class="tab-content" id="communication-tab">
                <sent-messages context="vm.currentCommunicationContext" identifier="vm.ticket.ID"></sent-messages>
            </div>
            <div class="tab-content" id="events-tab">
                <div class="events">
                    <div ng-show="!vm.currentObjectEvents.length">No events</div>
                    <div class="events-event" ng-repeat="currentEvent in vm.currentObjectEvents">
                        <div class="events-circle">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <button class="btn btn-sm pull-right" ng-click="vm.toggleInfo($index)" style="margin-left: 3%;">
                            <i class="glyphicon glyphicon-minus" ng-if="currentEvent.display == true"></i>
                            <i class="glyphicon glyphicon-plus" ng-if="currentEvent.display == false"></i>
                        </button>
                        <div ng-bind-html="currentEvent.content"></div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="issues-tab">
                <issues can-delete can-create selected-ticket-status="vm.ticket.TicketStatus" selected-ticket="vm.ticket"></issues>
            </div>
        </div>

    </div>
</div>