<span ng-show="directiveInitialized" class="row row--editable">
    <label class="form-col-withlabel-label" ng-class="{'no-top-padding': !isInEditMode}">{{valetSagaTypeTitle}}</label>
    <span ng-show="!isInEditMode" class="form-col-withlabel-input">
        <span class="right-buffer15">
            <span>{{valetSagaEmployeeFriendlyIdentifier}}</span>
            <span ng-show="!!valetSagaStatusTitle && valetSagaStatus > 0"><em>{{valetSagaStatusTitle}}</em></span>
        </span>
        <button ng-show="canUpdate && !savingInProgress && !!valetSagaEmployeeIdentifier" ng-click="onDelete()" class="btn btn-sm btn-cancel">
            <span class="glyphicon glyphicon-trash" title="{{deleteValetIconTitle}}"></span>
        </button>
        <button ng-show="canUpdate && !savingInProgress" class="btn btn-primary btn-icon-only btn--edit" ng-click="onEdit()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </span>
    <span ng-show="!!isInEditMode" class="form-col-withlabel-input">
        <span id="valet-selector-{{valetSagaType}}"></span>
        <span class="form_single-input-buttons">
            <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </span>
    </span>
</span>