<span ng-show="directiveInitialized" class="row row--editable">
    <span ng-show="!isInEditMode" class="form-col-withlabel-input">
        <button ng-show="canUpdate && !savingInProgress" class="btn btn-primary" ng-click="onEdit()">
            {{valetSagaTypeTitle}} Transfer Custody
        </button>
    </span>
    <span ng-show="!!isInEditMode" class="form-col-withlabel-input">
        Transfer custody to: <span id="transfer-valet-selector-{{valetSagaType}}"></span>
        <span class="form_single-input-buttons">
            <button class="btn btn-primary" ng-click="onUpdate()">Save</button>
            <button class="btn btn-cancel" ng-click="onCancel()">Cancel</button>
        </span>
    </span>
</span>