<style>
    /* override kendo cell value selector box */
    div.k-animation-container {
        width: 100px !important;
    }
</style>
<div ng-show="!!operatingLocationIdParam">
    <div class="page-controls-wrapper">
        <get-operating-location-data operating-location-identifier="operatingLocationIdParam" operating-location-object="operatingLocation"></get-operating-location-data>
        <a ui-sref="setup-operatinglocations" class="link">Back to {{operatingLocation.Name}}</a>

        <button class="k-button btn btn-primary left-buffer30 k-state-disabled" id="save" ng-if="canCreate && canUpdate && canDelete" ng-click="onSave()">Save Changes</button>
        <label class="alert alert-info hidden" id="save-message" ng-if="canCreate && canUpdate && canDelete">Spreadsheet has unsaved changes</label>
        <label class="alert alert-danger" ng-show="emptyZoneCodeError === true">>One or more rows contain an empty ZoneCode value. Please update spreadsheet.</label>
        <label class="alert alert-danger" ng-show="emptyLotNameError === true">One or more rows contain an empty LotName value. Please update spreadsheet.</label>

        <span class="left-buffer5">After editing a cell, click outside of it and then click Save Changes button.</span>
    </div>
    
    <div class="fullrow">
        <kendo-spreadsheet class="width-full" id="spreadsheet" k-options="sheetOptions"></kendo-spreadsheet>
    </div>
</div>