<div class="page-controls-wrapper">
    <button ng-show="canCreate && hasEditAccess" class="btn btn-primary" ng-click="openAddCustomer()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Customer for this agent
    </button>

    <span ng-show="canCreate && hasEditAccess" class="left-buffer30">Agent's view has links to the customers</span>

    <span ng-hide="canCreate && hasEditAccess" class="left-buffer30">If you need access to other customers, please contact us.</span>
</div>

<div class="top-buffer30">
    <div ng-repeat="customer in customers | orderBy: 'customer.ID'">
        <div class="form-line noborder bottom-buffer30" ng-show="hasEditAccess">
            <div class="col-md-5">
                <span>{{customer.ContactInformation.Name.FriendlyName}}</span>
            </div>
            <div class="col-md-5">
                <span>Make a Reservation</span>
            </div>
            <div class="col-md-1">
                <button class="btn btn-cancel" ng-click="deleteCustomer(customer)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
        <div class="form-line noborder bottom-buffer30" ng-hide="hasEditAccess">
            <div class="col-md-5">
                <a class="link" ui-sref="agent-session-account-profile({ customerIdentifier: '{{customer.ID}}'})">{{customer.ContactInformation.Name.FriendlyName}}</a>
            </div>
            <div class="col-md-5">
                <a class="link" ui-sref="agent-session-make-reservation({ customerIdentifier: '{{customer.ID}}'})">Make a Reservation</a>
            </div>
            <div class="col-md-1">
                <button class="btn btn-cancel" ng-click="deleteCustomer(customer)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="addCustomerModalContent">
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Customer for this agent</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal kendo-form" id="addCustomerForm" name="addCustomerForm" novalidate>
            <div id="customerRow" class="form-group">
                <label class="ticket-label">Type and click on magnifying glass to search</label>
                <search-results enable-selector="true" reference-selected-callback="onSelectReference(selected)"></search-results>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="addNewCustomer()" class="btn btn-primary" ng-disabled="!addCustomerForm.$valid">Add Customer</button>
        <button class="btn btn-cancel" title="Cancel" ng-click="onCancel()" value="Cancel">Cancel</button>
    </div>
</script>