
<div class="modal-header">
    <button type="button"
        class="close"
        aria-label="Close"
        ng-click="cropVm.cancel()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="text-center">{{cropVm.pageTitle}}</h4>
</div>

<div class="form-horizontal modal-body">
    <div class="image-container bottom-buffer30">
        <div class="cropArea">
            <img-crop image="cropVm.selectedImage" result-image="cropVm.croppedImage"
                      area-min-size="150" result-image-size="450" result-image-format="image/jpeg"
                      result-image-quality="0.9"></img-crop>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <h5 class="text-center">Preview</h5>
        <img class="img-responsive img-circle" id="result-profile-image" ng-src="{{cropVm.croppedImage}}" style="margin: auto; width: 100px; border: 1px solid gray;"/>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary top-buffer-relative5" ng-click="cropVm.saveImage()">Save</button>
    <button type="button" class="btn btn-default top-buffer-relative5" ng-click="cropVm.cancel()">Cancel</button>
</div>