<div class="login signup page--navbar-minimal">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-minimal" role="navigation">
        <div class="navbar-image-wrapper">
            <img class="navbar-image" src="/appCommon/theme/images/logo-full.svg" />
        </div>
    </nav>

    <form name="addAccountForm" class="login-form" novalidate ng-submit="addAccountForm.$valid && vm.activateAccount()">
        <div class="panel">

            <h3>Valeta</h3>
            <h4>Activate your account</h4>

            <div class="panel-body container-fluid" style="position: relative;">

                <div id="imageRow" class="row row-formline" ng-if="vm.profileImageUrl">
                    <div class="text-center">
                        <img class="img-responsive img-circle" ng-src="{{vm.profileImageUrl}}" style="margin: auto; width: 80px; border: 1px solid gray;" />
                    </div>
                </div>

                <div id="nameRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" id="firstNameInput" name="firstNameInput" required class="form-control" placeholder="{{vm.formMessages.Placeholder_Name_First}}" ng-model="vm.account.ContactInformation.Name.First" style="margin-bottom: 6px;" />
                        <input type="text" id="lastNameInput" name="lastNameInput" required class="form-control" placeholder="{{vm.formMessages.Placeholder_Name_Last}}" ng-model="vm.account.ContactInformation.Name.Last" />
                    </div>
                    <div class="error-messages" ng-messages="addAccountForm.firstNameInput.$error" ng-if="addAccountForm.firstNameInput.$dirty || addAccountForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Name_First}}</div>
                    </div>
                    <div class="error-messages" ng-messages="addAccountForm.lastNameInput.$error" ng-if="addAccountForm.lastNameInput.$dirty || addAccountForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Name_Last}}</div>
                    </div>
                </div>

                <div id="phoneRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                        <input type="tel"
                               ng-model="vm.account.ContactInformation.MobilePhone.Number"
                               id="phoneInput" name="phoneInput"
                               placeholder="{{vm.formMessages.Placeholder_MobilePhone}}"
                               class="form-control"
                               ng-pattern="/^\(?\d{3}\)?-? *\d{3}-? *-?\d{4}/"
                               mask="(999) 999-9999"
                               required />

                    </div>
                    <div class="error-messages" ng-messages="addAccountForm.phoneInput.$error" ng-if="(addAccountForm.phoneInput.$touched && addAccountForm.phoneInput.$dirty) || addAccountForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_MobilePhone}}</div>
                        <div ng-message="pattern">{{vm.formMessages.Format_Phone}}</div>
                    </div>
                </div>

                <div id="emailRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </span>
                        <input type="email"
                               ng-model="vm.account.ContactInformation.Email.EmailAddress"
                               id="emailInput" name="emailInput"
                               placeholder="{{vm.formMessages.Placeholder_Email}}"
                               class="form-control"
                               required />
                    </div>
                    <div class="error-messages" ng-messages="addAccountForm.emailInput.$error" ng-if="(addAccountForm.emailInput.$touched && addAccountForm.emailInput.$dirty) || addAccountForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Email}}</div>
                        <div ng-message="email">{{vm.formMessages.Format_Email}}</div>
                    </div>
                </div>

                <div id="passwordRow" class="row row-formline">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </span>
                        <input type="password" id="passwordInput" name="passwordInput" ng-minlength="8" required class="form-control" placeholder="{{vm.formMessages.Placeholder_Password}}" ng-model="vm.account.Password" />
                    </div>
                    <div class="error-messages" ng-messages="addAccountForm.passwordInput.$error" ng-if="(addAccountForm.passwordInput.$touched && addAccountForm.passwordInput.$dirty) || addAccountForm.$submitted">
                        <div ng-message="required">{{vm.formMessages.Required_Password}}</div>
                        <div ng-message="minlength">{{vm.formMessages.Format_Password}}</div>
                    </div>
                </div>

                <div class="text-center top-buffer30">
                    <button type="submit" class="btn btn-primary" ng-disabled="!addAccountForm.$valid">Activate</button>
                    <button class="btn" ng-if="!vm.isConnectedIN" ng-click="vm.connectIN()" style="color: white; background-color: #0077b5">
                        <span class="pull-left" style="margin-right: 10px"><img class="img-responsive" src="/appCommon/resources/LinkedIn-Icon-circle-sm.png" width="20" /></span>
                        Apply with LinkedIn
                    </button>
                </div>
            </div>
        </div>
        <div class="login-message">
            <h6>Already have an account? <a class="link" href="/#/login">Log in</a> instead</h6>
        </div>
    </form>
</div>