<div class="login signup page--navbar-minimal">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-minimal" role="navigation">
        <div class="navbar-image-wrapper">
            <img class="navbar-image" src="/appCommon/theme/images/logo-full.svg"/>
        </div>
    </nav>

    <form name="addAccountForm" class="login-form" novalidate ng-submit="addAccountForm.$valid && vm.signUpNewAccount()">
        <div class="panel" style="margin-top: -15px">

            <h3>Valeta</h3>
            <h4 style="margin: 0">Sign Up - it's free!</h4>

            <div class="panel-body container-fluid" style="position: relative; margin-top: -10px">

                <ng-include src="'appCommon/signup/newAccountFields.html'"></ng-include>
                
                <!--Recaptcha Widget--->
                <div style="margin-bottom: 20px; margin-left: -15px" size="normal" vc-recaptcha key="vm.publicKey"></div>

                <div class="text-center top-buffer30">
                    <button type="submit" class="btn btn-primary" ng-disabled="!addAccountForm.$valid">Sign Up</button>
                    <button class="btn" ng-if="!vm.isConnectedIN" ng-click="vm.connectIN()" style="color: white; background-color: #0077b5">
                        <span class="pull-left" style="margin-right: 10px"><img class="img-responsive" src="/appCommon/resources/LinkedIn-Icon-circle-sm.png" width="20" /></span>
                        Apply with LinkedIn
                    </button>
                </div>
            </div>
        </div>
        <div class="login-message">
            <h6>Already have an account? <a class="link" href="/#/login">Log in</a> instead</h6>
        </div>
    </form>
</div>